objs_client/
objs_server/
libft/libft.a
libft/libft_i386.a
libft/libft_x86_64.a
libft/obj_32/
libft/obj_64/
.idea/
cmake-build-debug/
cmake-build-debug/cmake_install.cmake
cmake-build-debug/libft.a
cmake-build-debug/IRC.cbp
cmake-build-debug/CMakeFiles/
cmake-build-debug/libft.a
cmake-build-debug/Makefile
cmake-build-debug/CMakeCache.txt
